<template>
    <div class="mt-3">
        <div class="card" v-show="user.rol == 'Admin' ">
            <div class="card-header">
                <h5 class="card-title">Compromisos</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Descripción</label>
                        <textarea cols="5" rows="5" class="form-control" v-model="descripcion"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <label>Fecha de realización</label>
                        <input type="date" class="form-control" v-model="fecha">
                    </div>
                    <div class="col-md-4 mt-3">
                        <label>Hora de inicio</label>
                        <input type="time" class="form-control" v-model="hora_inicio">
                    </div>
                    <div class="col-md-4 mt-3">
                        <label>Hora de finalización</label>
                        <input type="time" class="form-control" v-model="hora_fin">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <label>Responsable</label>
                        <v-select 
                            v-model="responsable" 
                            :options="usuarios"
                        >
                        </v-select>
                    </div>
                    <div class="col-md-4 mt-3">
                        <label>Estado</label>
                        <select v-model="estado" class="form-control">
                            <option :value="null">Seleccione</option>
                            <option value="En ejecución" class="badge badge-warning">En ejecución</option>
                            <option value="Activo" class="badge badge-success">Activo</option>
                            <option value="Completado" class="badge badge-info">Completado</option>
                            <option value="Cancelado" class="badge badge-danger">Cancelado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success btn-sm text-white" @click="actualizar()">
                    Actualizar
                </button>
                <router-link :to="{name: 'compromisos'}" class="btn btn-sm btn-link">
                    Volver
                </router-link>
            </div>
        </div>
        <div class="alert alert-info" v-show="user.rol != 'Admin' ">
            No tiene acceso a esta sección
        </div>
    </div>
</template>
<script>
    import moment from 'moment'
    export default{
        mounted: function() {
            this.cargarUsuarios()
            this.cargarCompromiso()
        },
        data() {
            return {
                id: this.$route.params.id,
                user: JSON.parse(document.head.querySelector('meta[name="user"]').content),
                descripcion: null,
                fecha: null,
                hora_inicio: null,
                hora_fin: null,
                usuarios: [],
                responsable: {id: null, label: 'Seleccione'},
                estado: null
            }
        },
        methods: {
            cargarUsuarios: function() {
                this.usuarios = []
                axios.get('/usuarios')
                    .then(res => {
                        res.data.forEach(element => {
                           this.usuarios.push({id: element.id, label: element.name}) 
                        });

                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            cargarCompromiso: function() {
                this.usuarios = []
                axios.get('/compromisos/' + this.id)
                    .then(res => {
                        let data = res.data[0]
                        this.descripcion = data.descripcion
                        this.fecha = data.fecha_de_realizacion
                        this.hora_inicio = data.hora_de_inicio
                        this.hora_fin = data.hora_de_finalizacion
                        this.responsable = {id: data.idresponsable, label: data.responsable_a.name}
                        this.estado = data.estado
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            actualizar: function() {

                if(this.descripcion == null || this.fecha == null || this.hora_inicio == null || this.hora_fin == null || this.responsable.id == null || this.estado == null) {
                    swal({
                        title: 'Información',
                        text: 'Asegurese de diligenciar de forma correcta el formulario',
                        icon: 'warning'
                    })
                } else {
                    let data = {
                        id: this.id,
                        descripcion: this.descripcion,
                        fecha_de_realizacion: this.fecha,
                        hora_de_inicio: this.hora_inicio,
                        hora_de_finalizacion: this.hora_fin,
                        idresponsable: this.responsable.id,
                        estado: this.estado
                    }
                    axios.post('/compromisos', data)
                        .then(res => {
                            swal({
                                title: 'Información',
                                text: res.data.mensaje,
                                icon: 'success'
                            })
                            this.cargarCompromiso()
                        })
                        .catch(error => {
                            console.log(error)
                        })
                }
            }
        }
    }

</script>
