<template>
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Compromisos</h5>
                </div>
                <div class="card-body">
                    <router-link :to="{name: 'crear-compromiso'}" class="btn btn-btn-info btn-sm mb-3 btn btn-outline-secondary">
                        Crear Compromisos
                    </router-link>
                    <datatable 
                        :data="items" 
                        :columns="columns" 
                        :actions="actions"
                    >
                        
                    </datatable>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment'
    export default {
        mounted: function() {
            this.cargarCompromisos()
        },
        data() {
            return {
                items : [],
                columns: [
                    {name: "descripcion", th: "Descripción"},
                    {name: "fecha_de_realizacion", th: "Fecha"},
                    {name: "hora_de_inicio", th: "Hora de Inicio"},
                    {name: "hora_de_finalizacion", th: "Hora de Finalización"},
                    {name: "estado", th: "Estado"},
                    {name: "responsable", th: "Responsable"},
                    {name: "created_at", th: "Creado", show: true, render (row, cell, index) {
                            return moment(row.created_at).locale('es').fromNow()
                        }
                    },
                ],
                actions: [
                    {
                        icon: 'fa fa-trash',
                        color: "danger", 
                        size: 'sm',
                        action: (row, index) => {
                            swal({
                                title: 'Información',
                                text: `¿Desea eliminar el compromiso [${row.id}]?, tenga en cuenta que esta información puede estar ligada a algún registro en el sistema`,
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                            })
                            .then((willDelete) => {
                                if (willDelete) {
                                    axios.delete('/compromisos/'+ row.id)
                                        .then(res => {
                                            swal({
                                                text: res.data.message,
                                                icon: "success"
                                            })
                                            this.cargarCompromisos()
                                        })
                                        .catch(e => {
                                            swal({
                                                text: e.message,
                                                icon: "warning"
                                            })
                                        })
                                } else {
                                    swal("Proceso cancelado!", {
                                        title: 'Cancelado',
                                        icon: 'info',
                                        text: 'El proceso ha sido cancelado'
                                    });
                                }
                            });
                        }
                    },
                    {
                        icon: 'fa fa-edit text-white',
                        color: "success", 
                        size: 'sm',
                        action: (row, index) => {
                            this.$router.push({ name: 'actualizar-compromiso', params: { id: row.id } })
                        }
                    } 
                ]

            }
        }, 
        methods: {
            cargarCompromisos: function() {
                this.items = []
                axios.get('/compromisos')
                    .then(res => {
                        res.data.forEach(element => {
                            this.items.push({ 
                                id: element.id,
                                descripcion: element.descripcion,
                                fecha_de_realizacion: moment(element.fecha_de_realizacion).format('LL'),
                                hora_de_inicio: element.hora_de_inicio,
                                hora_de_finalizacion: element.hora_de_finalizacion,
                                estado: element.estado,
                                idresponsable: element.idresponsable,
                                responsable: element.responsable_a.name,
                                created_at: element.created_at
                            })    
                        });
                    })
                    .catch(e => {
                        console.log(e)
                    })

            }
        }
    }
</script>