<template>
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title">Formulario de programas</h5>
        </div>
        <div class="card-body">
            <div class="row"> 
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Facultad</label>
                        <v-select 
                            v-model="facultad" 
                            :options="facultades"
                        >
                        </v-select>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Programa</label>
                        <input type="text" class="form-control" placeholder="Nombre de programa" v-model="programa">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-info btn-sm text-white" @click="agregar()">
                Guardar
            </button>
            <router-link :to="{name: 'programas'}" class="btn btn-sm btn-link">
                Volver
            </router-link>
        </div>
    </div>
</template>
<script>
    export default {
        mounted: function() {
            this.cargarFacultades()
        },
        data() {
            return {
                facultad: { id: null, label: 'Seleccione' },
                facultades: [],
                programa: null
            }
        },
        methods: {
            cargarFacultades: function() {
                this.facultades = []
                axios.get('/facultades')
                    .then(res => {
                        res.data.forEach(element => {
                            this.facultades.push({id: element.id, label: element.facultad})
                        });
                    })
                    .catch(e => {
                        swal({
                            title: 'Información',
                            text: 'Ha ocurrido un error',
                            icon: 'warning'
                        })
                    })

            },
            agregar: function() {
                if(this.facultad.id == null || this.programa == null) {
                    swal({
                        title: 'Información',
                        text: 'Asegurese de diligenciar de forma correcta el formulario',
                        icon: 'warning'
                    })
                } else {
                    let data = {
                        idfacultad: this.facultad.id,
                        programa: this.programa
                    }
    
                    axios.post('/programas', data)
                        .then(res => {
                            swal({
                                title: 'Información',
                                text: res.data.mensaje,
                                icon: 'success'
                            })
                            this.programa = null
                            this.facultad = { id: null, label: 'Seleccione' }

                        })
                        .catch(e => {
                            console.log(e)
                        })
                }
            }
        }
    }
</script>