<template>
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Programas</h5>
                </div>
                <div class="card-body">
                    <router-link :to="{name: 'crear-programa'}" class="btn btn-btn-info btn-sm mb-3 btn-outline-secondary">
                        Crear programa
                    </router-link>
                    <datatable 
                        :data="items" 
                        :columns="columns" 
                        :actions="actions"
                    >
                        
                    </datatable>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment'
    export default {
        mounted: function() {
            this.cargarProgramas()
        },
        data() {
            return {
                items : [],
                columns: [
                    {name: "facultad", th: "Facultad"},
                    {name: "programa", th: "Programas"},
                    {name: "created_at", th: "Creado", show: false, render (row, cell, index) {
                            return moment(row.created_at).locale('es').fromNow()
                        }
                    },
                ],
                actions: [
                    {
                        icon: 'fa fa-trash',
                        color: "danger", 
                        size: 'sm',
                        action: (row, index) => {
                            swal({
                                title: 'Información',
                                text: `¿Desea eliminar el Programa [${row.programa}]?, tenga en cuenta que esta información puede estar ligada a algún registro en el sistema`,
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                            })
                            .then((willDelete) => {
                                if (willDelete) {
                                    axios.delete('/programas/'+ row.id)
                                        .then(res => {
                                            swal({
                                                text: res.data.message,
                                                icon: "success"
                                            })
                                            this.cargarProgramas()
                                        })
                                        .catch(e => {
                                            swal({
                                                text: e.message,
                                                icon: "warning"
                                            })
                                        })
                                } else {
                                    swal("Proceso cancelado!", {
                                        title: 'Cancelado',
                                        icon: 'info',
                                        text: 'El proceso ha sido cancelado'
                                    });
                                }
                            });
                        }
                    },
                    {
                        icon: 'fa fa-edit text-white',
                        color: "success", 
                        size: 'sm',
                        action: (row, index) => {
                            this.$router.push({ name: 'actualizar-programa', params: { id: row.id } })
                        }
                    } 
                ]

            }
        }, 
        methods: {
            cargarProgramas: function() {
                this.items = []
                axios.get('/programas')
                    .then(res => {
                        res.data.forEach(element => {
                            this.items.push({ 
                                id: element.id,
                                idfacultad: element.idfacultad,
                                programa: element.programa,
                                facultad: element.fac_programa.facultad,
                                created_at: element.created_at
                            })    
                        });
                        
                    })
                    .catch(e => {
                        console.log(e)
                    })

            }
        }
    }
</script>