<template>
    <div>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a class="brand-link">
                <img src="https://png.pngtree.com/element_our/png_detail/20180912/s-letter-logovolume-icon-design-template-element-png_91781.jpg" 
                alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">Proyecto</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                <img src="https://png.pngtree.com/png-clipart/20210713/ourlarge/pngtree-social-media-buntou-boys-user-avatar-png-image_3584404.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                <a href="#" class="d-block">{{ user.name }} {{user.rol}}</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item" v-for="item in items" :key="item.id">
                        <router-link class="nav-link" :to="{name: item.name}">
                            <i :class="item.icon"></i>
                            <p>
                                {{item.text}}
                                <span class="right badge badge-danger"></span>
                            </p>
                        </router-link>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                user: JSON.parse(document.head.querySelector('meta[name="user"]').content),
                items: [
                    {
                        id: 1, 
                        text: 'Actas',
                        icon: 'nav-icon fas fa-th',
                        name: 'actas'
                    },
                    {
                        id: 2, 
                        text: 'Compromisos',
                        icon: 'nav-icon fas fa-th',
                        name: 'compromisos'
                    },
                    {
                        id: 3, 
                        text: 'Facultades',
                        icon: 'nav-icon fas fa-th',
                        name: 'facultades'
                    },
                    {
                        id: 4, 
                        text: 'Programas',
                        icon: 'nav-icon fas fa-th',
                        name: 'programas'
                    },
                    {
                        id: 5, 
                        text: 'Asistentes',
                        icon: 'nav-icon fas fa-th',
                        name: 'asistentes'
                    }
                    
                ]
            }
        }   
    }
</script>