<template>
    <div>
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Inicio</a>
            </li>
            <!-- <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Contact</a>
            </li> -->
            </ul>

            <!-- SEARCH FORM -->
            <!-- <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
                </div>
            </div>
            </form> -->

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
            
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <button class="dropdown-item" @click.prevent="logout">
                        <i class="ni ni-button-power"></i>
                        <span>Cerrar sesión</span>
                    </button>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
                </a>
            </li>
            </ul>
        </nav>
    </div>
</template>
<script>
    export default {
        mounted: function() {
            
        },
        data: () => ({
             csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
             user: JSON.parse(document.head.querySelector('meta[name="user"]').content)
        }), 
        methods:{
            logout: () => {
                swal({
				  	title: '¿Desea salir del sistema?',
				  	icon: "info",
				  	buttons: true,
				  	dangerMode: true,
				})
				.then((willDelete) => {
				  if (willDelete) {
				  	axios.post('logout')
						.then(response => {
                            window.location.href = "/login";
						})
						.catch(e => {
						    toastr.info(e);
                            console.log(e);
						})
				  } else {
				    swal("Proceso cancelado!", {
				    	title: 'Cancelado',
				      	icon: 'info',
				      	text: 'El proceso ha sido cancelado'
				    });
				  }
				});
            }
        }
    }
</script>
