<template>
    <div class="wrapper">
        <TopBar/>
        <Menu/>
        
        <div class="content-wrapper">
            <div class="content">
                <div class="container-fluid">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import TopBar from './helpers/TopBar.vue'
    import Menu from './helpers/MenuComponent.vue'
    export default {
        components: {
            TopBar,
            Menu
        }
    }
</script>