<template>
    <div class="mt-3">
        <div class="card" v-show="user.rol == 'Admin' ">
            <div class="card-header">
                <h5 class="card-title">Formulario de Asisitentes</h5>
            </div>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-3 mt-3" >
                        <label>Tipo de Documento</label>
                        <select v-model="tipo_documento" class="form-control" >
                            <option :value="null">Seleccione</option>
                            <option value="CC">CC</option>
                            <option value="CE">CE</option>
                            <option value="TI">TI</option>
                            <option value="Pasaporte">Pasaporte</option>
                        </select>
                    </div>
                    <div class="col-md-3 mt-3">
                        <div class="form-group">
                            <label>Numero de Documento</label>
                            <input type="text" class="form-control" placeholder="Documento" v-model="documento">
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label>Nombre Completos</label>
                            <input type="text" class="form-control" placeholder="Nombre Completo" v-model="nombre_completo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <div class="form-group">
                            <label>Correo Electronico</label>
                            <input type="email" class="form-control" placeholder="Email" v-model="correo">
                        </div>
                    </div>
                    <div class="col-md-4 mt-3">
                        <div class="form-group">
                            <label>Telefono</label>
                            <input type="text" class="form-control" placeholder="Telefono" v-model="telefono" maxlength="10">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success btn-sm text-white" @click="actualizar()">
                    Actualizar
                </button>
                <router-link :to="{name: 'asistentes'}" class="btn btn-sm btn-link">
                        Volver
                </router-link>
            </div>
        </div>
        <div class="alert alert-info" v-show="user.rol != 'Admin' ">
            No tiene acceso a esta sección
        </div>
    </div>
</template>
<script>
    import moment from 'moment'
    export default{
        mounted: function() {
            this.cargarUsuarios()
            this.cargarasistentes()
        },
        data() {
            return {
                id: this.$route.params.id,
                user: JSON.parse(document.head.querySelector('meta[name="user"]').content),
                tipo_documento: null,
                documento: null,
                nombre_completo: null,
                correo: null,
                telefono: null
            }
        },
        methods: {
            cargarUsuarios: function() {
                this.usuarios = []
                axios.get('/usuarios')
                    .then(res => {
                        res.data.forEach(element => {
                           this.usuarios.push({id: element.id, label: element.name}) 
                        });

                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            cargarasistentes: function() {
                this.usuarios = []
                axios.get('/asistentes/' + this.id)
                    .then(res => {
                        let data = res.data[0]
                        this.tipo_documento = data.tipo_documento
                        this.documento = data.documento
                        this.nombre_completo = data.nombre_completo
                        this.correo = data.correo
                        this.telefono = data.telefono
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            actualizar: function() {
                if(this.tipo_documento == null || this.documento == null || this.nombre_completo == null || this.correo == null ||  this.telefono == null) {
                    swal({
                        title: 'Información',
                        text: 'Asegurese de diligenciar de forma correcta el formulario',
                        icon: 'warning'
                    })
                } else {
                    let data = {
                        id: this.id,
                        tipo_documento: this.tipo_documento,
                        documento: this.documento,
                        nombre_completo: this.nombre_completo,
                        correo: this.correo,
                        telefono: this.telefono
                    }
                    axios.post('/asistentes', data)
                        .then(res => {
                            swal({
                                title: 'Información',
                                text: res.data.mensaje,
                                icon: 'success'
                            })
                            this.cargarasistentes()
                        })
                        .catch(error => {
                            console.log(error)
                        })
                }
            }
        }
    }

</script>