<template>
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Asistentes</h5>
                </div>
                <div class="card-body">
                    <router-link :to="{name: 'agregar-asistentes'}" class="btn btn-btn-info btn-sm mb-3 btn btn-outline-secondary">
                        Agregar Asistentes
                    </router-link>
                    <datatable 
                        :data="items" 
                        :columns="columns" 
                        :actions="actions"
                    >
                        
                    </datatable>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment'
    export default {
        mounted: function() {
            this.cargarAsistentes()
        },
        data() {
            return {
                items : [],
                columns: [
                    {name: "tipo_documento", th: "Tipo de Documento"},
                    {name: "documento", th: "Documento"},
                    {name: "nombre_completo", th: "Nombre"},
                    {name: "correo", th: "Correo"},
                    {name: "telefono", th: "Telefono"}, 
                    {name: "created_at", th: "Creado", show: false, render (row, cell, index) {
                            return moment(row.created_at).locale('es').fromNow()
                        }
                    },
                ],
                actions: [
                    {
                        icon: 'fa fa-trash',
                        color: "danger", 
                        size: 'sm',
                        action: (row, index) => {
                            swal({
                                title: 'Información',
                                text: `¿Desea eliminar al asistente [${row.asistente}]?, tenga en cuenta que esta información puede estar ligada a algún registro en el sistema`,
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                            })
                            .then((willDelete) => {
                                if (willDelete) {
                                    axios.delete('/asistentes/'+ row.id)
                                        .then(res => {
                                            swal({
                                                text: res.data.message,
                                                icon: "success"
                                            })
                                            this.cargarAsistentes()
                                        })
                                        .catch(e => {
                                            swal({
                                                text: e.message,
                                                icon: "warning"
                                            })
                                        })
                                } else {
                                    swal("Proceso cancelado!", {
                                        title: 'Cancelado',
                                        icon: 'info',
                                        text: 'El proceso ha sido cancelado'
                                    });
                                }
                            });
                        }
                    },
                    {
                        icon: 'fa fa-edit text-white',
                        color: "success", 
                        size: 'sm',
                        action: (row, index) => {
                            this.$router.push({ name: 'actualizar-asistente', params: { id: row.id } })
                        }
                    } 
                ]

            }
        }, 
        methods: {
            cargarAsistentes: function() {
                this.items = []
                axios.get('/asistentes')
                    .then(res => {
                        this.items = res.data
                    })
                    .catch(e => {
                        console.log(e)
                    })

            }
        }
    }
</script>