<template>
    <div class="mt-3">
        <div class="card" v-show="user.rol == 'Admin' ">
            <div class="card-header">
                <h5 class="card-title">Formulario de Asisitentes</h5>
            </div>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-3 mt-3" >
                        <label>Tipo de Documento</label>
                        <select v-model="tipo_documento" class="form-control" >
                            <option :value="null">Seleccione</option>
                            <option value="Cédula de ciudadanía">CC</option>
                            <option value="Cédula de extranjería">CE</option>
                            <option value="Tarjeta de identidad">TI</option>
                            <option value="Pasaporte">Pasaporte</option>
                        </select>
                    </div>
                    <div class="col-md-3 mt-3">
                        <div class="form-group">
                            <label>Numero de Documento</label>
                            <input type="text" class="form-control" placeholder="Documento" v-model="documento">
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label>Nombre Completos</label>
                            <input type="text" class="form-control" placeholder="Nombre Completo" v-model="nombre_completo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <div class="form-group">
                            <label>Correo Electronico</label>
                            <input type="email" class="form-control" placeholder="Email" v-model="correo">
                        </div>
                    </div>
                    <div class="col-md-4 mt-3">
                        <div class="form-group">
                            <label>Telefono</label>
                            <input type="text" class="form-control" placeholder="Telefono" v-model="telefono" maxlength="10">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm text-white" @click="agregar()">
                    Guardar
                </button>
                <router-link :to="{name: 'asistentes'}" class="btn btn-sm btn-link">
                        Volver
                </router-link>
            </div>
        </div>
        <div class="alert alert-info" v-show="user.rol != 'Admin' ">
            No tiene acceso a esta sección
        </div>
    </div>
</template>
<script>

    export default{
        mounted: function() {
            this.cargarUsuarios()
        },
        data() {
            return {
                user: JSON.parse(document.head.querySelector('meta[name="user"]').content),
                tipo_documento: null,
                documento: null,
                nombre_completo: null,
                correo: null,
                usuarios: [],
                telefono: null,
                reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
            }
        },
        methods: {
            cargarUsuarios: function() {
                this.usuarios = []
                axios.get('/usuarios')
                    .then(res => {
                        res.data.forEach(element => {
                           this.usuarios.push({id: element.id, label: element.name}) 
                        });

                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            agregar: function() {

                if(this.tipo_documento == null || this.documento == null || this.nombre_completo == null || this.correo == null ||  this.telefono == null) {
                    swal({
                        title: 'Información',
                        text: 'Asegurese de diligenciar de forma correcta el formulario',
                        icon: 'warning'
                    })
                } else {
                    if(this.isValidEmail(this.correo))
                    {
                        let data = {
                            tipo_documento: this.tipo_documento,
                            documento: this.documento,
                            nombre_completo: this.nombre_completo,
                            correo: this.correo,
                            telefono: this.telefono
                        }
                        axios.post('/asistentes', data)
                            .then(res => {
                                swal({
                                    title: 'Información',
                                    text: res.data.mensaje,
                                    icon: 'success'
                                })
                                this.tipo_documento = null
                                this.fecha = null
                                this.nombre_completo = null
                                this.correo = null
                                this.telefono = null
                            })
                            .catch(error => {
                                console.log(error)
                            })
                    } else {
                        swal({
                            title: 'Información',
                            text: 'Asegurese de agregar un correo válido',
                            icon: 'warning'
                        })
                    }
                    
                }
            },
            isValidEmail: function(email) {
                return (this.reg.test(email));
            }
        }
    }

</script>