<template>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Formulario de facultades</h5>
        </div>
        <div class="card-body">
            <div class="row"> 
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label>Facultad</label>
                        <v-select 
                            v-model="facultad" 
                            :options="facultades"
                        >
                        </v-select>

                    </div>
                </div> -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Facultad</label>
                        <input type="text" class="form-control" placeholder="Nombre de facultad" v-model="facultad">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-info btn-sm text-white" @click="agregar()">
                Guardar
            </button>
        </div>
    </div>
</template>
<script>
    export default {
        mounted: function() {
            this.cargarFacultades()
        },
        data() {
            return {
                
                facultades: [],
                facultad: null
            }
        },
        methods: {
            cargarFacultades: function() {
                this.facultades = []
                axios.get('/facultades')
                    .then(res => {
                        res.data.forEach(element => {
                            this.facultades.push({ label: element.facultad})
                        });
                    })
                    .catch(e => {
                        swal({
                            title: 'Información',
                            text: 'Ha ocurrido un error',
                            icon: 'warning'
                        })
                    })

            },
            agregar: function() {
                if(this.facultad == null) {
                    swal({
                        title: 'Información',
                        text: 'Asegurese de diligenciar de forma correcta el formulario',
                        icon: 'warning'
                    })
                } else {
                    let data = {
                        facultad: this.facultad
                    }
    
                    axios.post('/Facultad', data)
                        .then(res => {
                            swal({
                                title: 'Información',
                                text: res.data.mensaje,
                                icon: 'success'
                            })
                            this.facultad = null
                            

                        })
                        .catch(e => {
                            console.log(e)
                        })
                }
            }
        }
    }
</script>