<template>
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Actas</h5>
                </div>
                <div class="card-body">
                    <router-link :to="{name: 'crear-acta'}" class="btn btn-sm btn-primary mb-3">
                        Agregar
                    </router-link>
                    <datatable 
                        :data="items" 
                        :columns="columns" 
                        :actions="actions"
                    >
                        
                    </datatable>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment'
    export default {
        mounted: function() {
            this.cargarActas()
        },
        data() {
            return {
                items : [],
                columns: [
                    {name: "fecha_de_realizacion", th: "Fecha"},
                    {name: "hora_de_inicio", th: "Inicio"},
                    {name: "hora_de_finalizacion", th: "Fin"},
                    {name: "asunto", th: "Asunto"},
                    {name: "descripcion", th: "Descripción"},
                    {name: "estado", th: "Estado"},
                    {name: "created_at", th: "Creado", show: true, render (row, cell, index) {
                            return moment(row.created_at).locale('es').fromNow()
                        }
                    },
                ],
                actions: [
                    {
                        icon: 'fa fa-eye text-white',
                        color: "primary", 
                        size: 'sm',
                        action: (row, index) => {
                            this.$router.push({ name: 'ver-acta', params: { id: row.id } })
                        }
                    },
                    {
                        icon: 'fa fa-trash',
                        color: "danger", 
                        size: 'sm',
                        action: (row, index) => {
                            swal({
                                title: 'Información',
                                text: `¿Desea eliminar la acta [${row.id}]?, tenga en cuenta que esta información puede estar ligada a algún registro en el sistema`,
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                            })
                            .then((willDelete) => {
                                if (willDelete) {
                                    axios.delete('/actas/'+ row.id)
                                        .then(res => {
                                            swal({
                                                text: res.data.message,
                                                icon: "success"
                                            })
                                            this.cargarActas()
                                        })
                                        .catch(e => {
                                            swal({
                                                text: e.message,
                                                icon: "warning"
                                            })
                                        })
                                } else {
                                    swal("Proceso cancelado!", {
                                        title: 'Cancelado',
                                        icon: 'info',
                                        text: 'El proceso ha sido cancelado'
                                    });
                                }
                            });
                        }
                    },
                    {
                        icon: 'fa fa-edit text-white',
                        color: "success", 
                        size: 'sm',
                        action: (row, index) => {
                            this.$router.push({ name: 'actualizar-acta', params: { id: row.id } })
                        }
                    } 
                ]

            }
        }, 
        methods: {
            cargarActas: function() {
                this.items = []
                axios.get('/actas')
                    .then(res => {
                        this.items = res.data
                    })
                    .catch(e => {
                        console.log(e)
                    })

            }
        }
    }
</script>