<template>
    <div class="mt-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Actas de seguimiento</h5>
            </div>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-4">
                        <label>Fecha de realización</label>
                        <input type="date" class="form-control" v-model="fecha_de_realizacion">
                    </div>
                    <div class="col-md-4">
                        <label>Hora de inicio</label>
                        <input type="time" class="form-control" v-model="hora_de_inicio">
                    </div>
                    <div class="col-md-4">
                        <label>Hora de finalización</label>
                        <input type="time" class="form-control" v-model="hora_de_finalizacion">
                    </div>
                    <div class="col-md-12 mt-3">
                        <label>Asunto</label>
                        <textarea cols="2" rows="2" class="form-control" v-model="asunto"></textarea>
                    </div>
                    <div class="col-md-12 mt-3">
                        <label>Descripción</label>
                        <textarea cols="3" rows="3" class="form-control" v-model="descripcion"></textarea>
                    </div>
                    <div class="col-md-4 mt-3">
                        <label>Estado</label>
                        <select class="form-control" v-model="estado">
                            <option :value="null">Seleccione</option>
                            <option value="En ejecución">En ejecución</option>
                            <option value="Activo">Activo</option>
                            <option value="Completado">Completado</option>
                            <option value="Cancelado">Cancelado</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label>Asistentes</label>
                            <v-select 
                                v-model="asistente" 
                                :options="asistentes"
                                multiple
                            >
                            </v-select>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label>Compromisos</label>
                            <v-select 
                                v-model="compromiso" 
                                :options="compromisos"
                                multiple
                            >
                            </v-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm text-white" @click="agregar()">
                    Guardar
                </button>
                <router-link class="btn btn-link btn-sm" :to="{name: 'actas'}">
                    Volver
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted: function() {
            this.cargarCompromisos()
            this.cargarAsistentes()
        },
        data() {
            return {
                fecha_de_realizacion: null,
                hora_de_inicio: null,
                hora_de_finalizacion: null,
                asunto: null,
                descripcion: null,
                estado: null,

                compromiso: null,
                compromisos: [],

                asistente: null,
                asistentes: []

            }
        },
        methods: {
            cargarCompromisos: function() {
                this.compromisos = []
                axios.get('/compromisos')
                    .then(res => {
                        res.data.forEach(el => {
                            this.compromisos.push({
                                id: el.id,
                                descripcion: el.descripcion,
                                label: el.descripcion,
                                fecha_de_realizacion: el.fecha_de_realizacion,
                                hora_de_inicio: el.hora_de_inicio,
                                hora_de_finalizacion: el.hora_de_finalizacion,
                                estado: el.estado,
                                idresponsable: el.idresponsable,
                                created_at: el.created_at,
                                responsable_a: el.responsable_a
                            })
                        });
                        console.log(this.compromisos)

                    })
                    .catch(e => {
                        console.log(e)
                    })
            },
            cargarAsistentes: function() {
                this.asistentes = []
                axios.get('/asistentes')
                    .then(res => {
                        res.data.forEach(el => {
                            this.asistentes.push({
                                id: el.id,
                                descripcion: el.descripcion,
                                label: el.nombre_completo,
                                documento: el.documento,
                                nombre_completo: el.nombre_completo,
                                correo: el.correo,
                                telefono: el.telefono,
                                created_at: el.created_at
                            })
                        });
                        console.log(this.compromisos)

                    })
                    .catch(e => {
                        console.log(e)
                    })

            },
            agregar: function() {
                if(
                    this.fecha_de_realizacion == null || 
                    this.hora_de_inicio == null || 
                    this.hora_de_finalizacion == null || 
                    this.asunto == null || 
                    this.descripcion == null ||
                    this.estado == null ||
                    this.compromiso == null || 
                    this.asistente == null
                ) {
                    swal({
                        title: 'Información',
                        text: 'Asegurese de diligenciar de forma correcta el formulario',
                        icon: 'warning'
                    })
                } else {
                    let data = {
                        fecha_de_realizacion: this.fecha_de_realizacion,
                        hora_de_inicio: this.hora_de_inicio,
                        hora_de_finalizacion: this.hora_de_finalizacion,
                        asunto: this.asunto,
                        descripcion: this.descripcion,
                        estado: this.estado,
                        listado_asistentes: JSON.stringify(this.asistente),
                        listado_compromisos: JSON.stringify(this.compromiso)
                    }
    
                    axios.post('/actas', data)
                        .then(res => {
                            swal({
                                title: 'Información',
                                text: res.data.mensaje,
                                icon: 'success'
                            })
                            this.fecha_de_realizacion = null
                            this.hora_de_inicio = null
                            this.hora_de_finalizacion = null
                            this.asunto = null
                            this.estado = null
                            this.descripcion = null
                            this.asistente = null
                            this.compromiso = null
                        })
                        .catch(e => {
                            console.log(e)
                        })
                }
            }
        }
    }
</script>