<template>
    <div class="mt-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Actas de seguimiento</h5>
            </div>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-4">
                        <label>Fecha de realización</label>
                        <input type="date" class="form-control" v-model="fecha_de_realizacion" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Hora de inicio</label>
                        <input type="time" class="form-control" v-model="hora_de_inicio" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Hora de finalización</label>
                        <input type="time" class="form-control" v-model="hora_de_finalizacion" readonly>
                    </div>
                    <div class="col-md-12 mt-3">
                        <label>Asunto</label>
                        <textarea cols="2" rows="2" class="form-control" v-model="asunto" readonly></textarea>
                    </div>
                    <div class="col-md-12 mt-3">
                        <label>Descripción</label>
                        <textarea cols="3" rows="3" class="form-control" v-model="descripcion" readonly></textarea>
                    </div>
                    <div class="col-md-4 mt-3">
                        <label>Estado</label>
                        <input type="text" class="form-control" v-model="estado" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label>Asistentes</label>
                            <ul>
                                <li :key="as.id" v-for="as in asistente">
                                    <p> {{as.id}} - {{as.label}} </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label>Compromisos</label>
                            <ul>
                                <li :key="c.id" v-for="c in compromiso">
                                    <p> {{c.id}} - {{c.label}} </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger btn-sm text-white" @click="generarPDF()">
                    <i class="fa fa-file-pdf"></i> Generar pdf
                </button>
                <router-link class="btn btn-link btn-sm" :to="{name: 'actas'}">
                    Volver
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted: function() {
            this.cargarCompromisos()
            this.cargarAsistentes()
            this.cargarActa()
        },
        data() {
            return {
                id: this.$route.params.id,
                fecha_de_realizacion: null,
                hora_de_inicio: null,
                hora_de_finalizacion: null,
                asunto: null,
                descripcion: null,
                estado: null,

                compromiso: null,
                compromisos: [],

                asistente: null,
                asistentes: []

            }
        },
        methods: {
            cargarCompromisos: function() {
                this.compromisos = []
                axios.get('/compromisos')
                    .then(res => {
                        res.data.forEach(el => {
                            this.compromisos.push({
                                id: el.id,
                                descripcion: el.descripcion,
                                label: el.descripcion,
                                fecha_de_realizacion: el.fecha_de_realizacion,
                                hora_de_inicio: el.hora_de_inicio,
                                hora_de_finalizacion: el.hora_de_finalizacion,
                                estado: el.estado,
                                idresponsable: el.idresponsable,
                                created_at: el.created_at,
                                responsable_a: el.responsable_a
                            })
                        });
                        console.log(this.compromisos)

                    })
                    .catch(e => {
                        console.log(e)
                    })
            },
            cargarAsistentes: function() {
                this.asistentes = []
                axios.get('/asistentes')
                    .then(res => {
                        res.data.forEach(el => {
                            this.asistentes.push({
                                id: el.id,
                                descripcion: el.descripcion,
                                label: el.nombre_completo,
                                documento: el.documento,
                                nombre_completo: el.nombre_completo,
                                correo: el.correo,
                                telefono: el.telefono,
                                created_at: el.created_at
                            })
                        });
                        console.log(this.compromisos)

                    })
                    .catch(e => {
                        console.log(e)
                    })

            },
            cargarActa: function() {
                this.asistentes = []
                axios.get('/actas/' + this.id)
                    .then(res => {
                        let data = res.data[0]
                        this.fecha_de_realizacion = data.fecha_de_realizacion
                        this.hora_de_inicio       = data.hora_de_inicio
                        this.hora_de_finalizacion = data.hora_de_finalizacion
                        this.asunto               = data.asunto
                        this.descripcion          = data.descripcion
                        this.estado               = data.estado
                        this.compromiso           = JSON.parse(data.listado_compromisos)
                        this.asistente            = JSON.parse(data.listado_asistentes)

                    })
                    .catch(e => {
                        console.log(e)
                    })

            },
            generarPDF: function() {
                
            }
        }
    }
</script>